.img-containers {
    width: 350px;
    height: 200px;
    border: 0.5px;
    object-fit: contain;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

#top-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-images {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.img-containers > * {
    color: white;
}